@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  /* height: 1500vh; */
  background-image: url('./assets/bg.webp');
  background-size: cover;
  backdrop-filter: blur(100px);
}

*,body{
  font-family: "El Messiri", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

a , button {
  transition: all .3s ease-in-out;
}

a:hover , button:hover{
  opacity: 0.7;
}